* {
  color: #523844;
}

*:not(.mat-icon) {
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: center;
  height: 350px;
  padding: 50px 100px;
  background-color: rgba(0, 0, 0, 0);
}

.nav-options {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: calc(0.7vw + 10px);
}

.nav-options a {
  text-decoration: none;
  color: currentColor;
  padding: 0 2em;
  text-align: center;
}

.nav-options a:hover {
  color: rgb(218, 139, 139);
}

.navbar .logo {
  flex: 1;
  display: flex;
  justify-content: center;
  min-width: 200px;
  min-height: 200px;
  height: 100%;
}

.navbar .logo img {
  max-width: 100%;
  max-height: 100%;
  min-width: 30%;
  min-height: 30%;
}

.navbar .icon {
  flex: 1;
  text-align: center;
}

.navbar .icon :hover {
  color: rgb(218, 139, 139);
}

.shopping-cart {
  transform: scale(1.2);
}

