* {
  color: rgb(73, 53, 53);
}

*:not(.mat-icon) {
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
}

.logo {
  display: flex;
}

.logo img {
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  height: 350px;
  padding: 50px 100px;
  background-color: rgba(0, 0, 0, 0);
}

.navbar .logo {
  height: 100%;
  flex: 1;
  justify-content: center;
}

.navbar .icon {
  flex: 1;
  text-align: center;
}

.shopping-cart {
  transform: scale(1.5);
}

.navbar .icon :hover {
  color: rgb(218, 139, 139);
}

.nav-options {
  display: flex;
  flex: 1;
  justify-content: center;
}

.nav-options a {
  text-decoration: none;
  color: currentColor;
  width: 150px;
  text-align: center;
}

.nav-options a:hover {
  color: rgb(218, 139, 139);
}
