<mat-toolbar class="navbar">
  <div class="nav-options">
    <a class="option" routerLink="/flavours">Flavours</a>
    <a class="option" routerLink="/locations">Locations</a>
    <a class="option" routerLink="/contact">Contact</a>
  </div>
  <div class="logo">
    <a routerLink="/">
      <img src="https://i.imgur.com/4OUNbEb.png" alt="Monke Kreams Logo" />
    </a>
  </div>
  <div class="icon">
    <button mat-icon-button aria-label="icon-button with shopping_cart icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="navigation">
  <div class="cart">
    <a>
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >shopping_cart</mat-icon
      >
    </a>
  </div>
</div>

<router-outlet></router-outlet>
